html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #eeeeee !important;
}

/* GENERIC CLASSES */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

/* HEADER BAR */
.header-bar {
    position: relative;
    height: 64px;
    width: 100%;
    background-color: #555555;
    color: #fff;
}

.header-bar.homepage {
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-bar-title {
  text-align: center;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

/* LIST */
.list {
  padding: 65px 15px 15px 15px;
}

.empty-list-message {
  margin-top: 90px;
  text-align: center;
}

.list-item {
  margin-top: 15px;
  height: 80px;
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
  background-color: #ffffff;
  color: #000000;
}

.list-item-content {
  width: max-content;
  left: 15px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-content span {
  display: block;
  margin-bottom: 5px;
}

.list-item-date {
  right: 15px;
  left: auto;
  width: max-content;
}

.list-item a {
  color:  #000000;
}

/* BUTTON */
.add-button {
  font-size: 25px;
  position: absolute;
  right: 30px;
  transition: 0.4s;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  height: 50%;
  border: none;
  cursor: pointer;
  background: none;
}

.submit-button {
  font-size: 12px;
  transition: 0.4s;
  z-index: 1000;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.submit-button.disabled {
  opacity: 0.3;
}  


.delete-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: red;
}

.back-button {
  position: absolute;
  left: 30px;
  transition: 0.4s;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* FORM */
form.custom-form {
  position: relative;
}

.submit-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-color: #fff;
}

/* TEXTAREA */
.custom-textarea {
  width: calc(100% - 30px);
  min-height: calc(100vh - 190px);
  border: none;
  padding: 15px;
  overflow-x: hidden;
  outline: none;
  resize: none;
}