body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERIC CLASSES */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

/* HEADER BAR */
.header-bar {
    height: 64px;
    width: 100%;
    background-color: #555555;
    color: #fff;
    position: relative;
}

.header-bar-title {
  text-align: center;
}

/* LIST */
.list {
  padding: 0 30px;
}

.list-item {
  height: 64px;
  border-bottom: 1px solid #aaa9a9;
  position: relative;
}
