html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #eeeeee !important;
}

/* GENERIC CLASSES */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

/* HEADER BAR */
.header-bar {
    height: 64px;
    width: 100%;
    background-color: #555555;
    color: #fff;
    position: relative;
}

.header-bar-title {
  text-align: center;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

/* LIST */
.list {
  padding: 0 15px 15px 15px;
}

.list-item {
  margin-top: 15px;
  height: 64px;
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
  background-color: #ffffff;
  color: #000000;
}

.list-item-title {
  width: max-content;
  left: 15px !important;
}

/* BUTTON */
.add-button {
  font-size: 25px;
  position: absolute;
  right: 30px;
  transition: 0.4s;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  height: 50%;
}

.delete-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: red;
}

.back-button {
  position: absolute;
  left: 30px;
  transition: 0.4s;
  font-weight: 300;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

/* TEXTAREA */
.custom-textarea {
  width: calc(100% - 30px);
  min-height: calc(100vh - 97.5px);
  border: none;
  padding: 15px;
  overflow-x: hidden;
  outline: none;
}